.single-note {
    border: 1px black double;
    margin: 0.5rem;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.note-title {
    font-size: large;
    font-weight: bold;
}

.note-body {
    margin: 0.5rem 0;
}

.note-delete {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
}

.new-note {
    display: flex;
    flex-direction: column;
}
